<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link href="/webjars/bootstrap/4.1.1/css/bootstrap.min.css">
<body class="text-center d-flex justify-content-center">

<div class="row text-center d-flex justify-content-center container">
    <input class="col-12 form-control input-group" id="name" name="name" type="text" placeholder="name">
    <input class="col-12 form-control input-group" id="author" type="text" name="author" placeholder="author">
    <button class="btn btn-success" onclick="addBook()">Qo'shish</button>
</div>

</body>
<script th:inline="javascript" th:src="@{/js/js.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

</html>